.search-and-create-container {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.search-filters-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.create-delete-account-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}
