@font-face {
    font-family: IRANYekan;
    font-weight: bold;
    src:
        url('/assets/fonts/iranyekanwebboldfanum.eot') format('embedded-opentype'),
        url('/assets/fonts/iranyekanwebboldfanum.woff') format('woff'),
        url('/assets/fonts/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-weight: 500;
    src:
        url('/assets/fonts/iranyekanwebmediumfanum.eot') format('embedded-opentype'),
        url('/assets/fonts/iranyekanwebmediumfanum.woff') format('woff'),
        url('/assets/fonts/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-weight: 300;
    src:
        url('/assets/fonts/iranyekanweblightfanum.eot') format('embedded-opentype'),
        url('/assets/fonts/iranyekanweblightfanum.woff') format('woff'),
        url('/assets/fonts/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-weight: 200;
    src:
        url('/assets/fonts/iranyekanwebthinfanum.eot') format('embedded-opentype'),
        url('/assets/fonts/iranyekanwebthinfanum.woff') format('woff'),
        url('/assets/fonts/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-weight: normal;
    src:
        url('/assets/fonts/iranyekanwebregularfanum.eot') format('embedded-opentype'),
        url('/assets/fonts/iranyekanwebregularfanum.woff') format('woff'),
        url('/assets/fonts/iranyekanwebregularfanum.ttf') format('truetype');
}

body {
    font-family: IRANYekan;
    box-sizing: border-box;
    margin: 0;
    direction: rtl;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-and-main-container {
    flex: 4;
    height: 100vh;
    flex-direction: column;
}

main {
    height: calc(100vh - 110px);
}

.flex {
    display: flex;
}

.hor-center {
    justify-content: center;
}

.ver-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.text-primary {
    color: #0f1828;
}

.text-secondary {
    color: #334054;
}

.text-disable {
    color: #d0d5dd;
}

.icon-color {
    color: #667085;
}
